doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Talent Pro Services
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
    style. 
       input[type="checkbox"] {
       accent-color: #6da252;
      } 
    block style

  body.hold-transition.skin-blue.layout-top-nav
    .wrapper
        .content-wrapper
            section.content-header
                h1
                    | Spaceship Service List &nbsp;&nbsp;
                    span.new-button
                        a.btn.btn-primary.btn-sm(href='#' data-toggle='modal', data-target='#service-modal')
                            span.fa.fa-plus
                            |  &nbsp;Add New
            section.content
                    .row
                        .col-md-12.col-xs-12
                            .box.box-parrot
                                
                                .box-body 
                                    .table.table-responsive
                                        table#dataTable.table.table-striped.table-hover
                                            thead
                                                tr
                                                    th 
                                                     a(href='#') Id
                                                    th 
                                                     a(href='#') Title
                                                    th 
                                                     a(href='#') Description
                                                    th 
                                                     a(href='#') Image
                                                    th
                                                     a(href='#') Actions
        include ./create

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(type="text/javascript" src='/dist/js/sweetalert.js')
    script.
     $('#dataTable').DataTable()
    
    
     $(document).on('click', '#button-create-service', function (e) {
        $('#service-modal .modal-header').before('<span id="span-loading" style="position: absolute; height: 100%; width: 100%; z-index: 99; background: #6da252; opacity: 0.4;"><i class="fa fa-spinner fa-spin" style="font-size: 16em !important;margin-left: 30%;margin-top: 22%;"></i></span>');
        var fd = new FormData(document.getElementById('service-form'));
        $.ajax({
            url: '/spaceship/service/create',
            type: 'POST',
            dataType: 'JSON',
            data: fd,
            cache:false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('#button-create-service').button('loading');
            },
            complete: function() {
                $('#button-create-service').button('reset');
            },
            success: function(json) {
                console.log(json);
                setTimeout(() => {
                    $('#span-loading').remove();
                    !json.error && $('#service-modal').modal('hide');
                    swal({
                        title: json.message,
                        text: json.action,
                        closeOnClickOutside: false,
                        button: 'OK'
                    }).then(() => { !json.error ? window.location.href = window.location.href.replace(/#.*$/, '') : '' });
                },1000);
            },
            error: function(error, textStatus, errorThrown) {
                $('#span-loading').remove();
                if (error) {
                    console.log(error);
                }
            }
        });
     });
     function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#uploaded_image')
            .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
        }
     }